body{
    background-color: red;
}
#bgBody{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M741.791809553261 107.20579750334363L629.4528582621494-17.559247703351943 504.6878130554539 94.77970358775964 617.0267643465654 219.54474879445522z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M140.72832277263296 385.14647431396236L95.84083957659543 318.5980437527455 18.46193533278904 419.20348382741025z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M359.0662422037136 429.27071434899426L253.7140690028198 299.1716152284223 228.96714308314168 534.6228875498881z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1162.011%2c279.779C1208.862%2c278.899%2c1251.652%2c254.997%2c1276.053%2c214.993C1301.568%2c173.164%2c1310.738%2c119.837%2c1285.005%2c78.141C1260.237%2c38.009%2c1209.164%2c29.411%2c1162.011%2c30.209C1116.609%2c30.978%2c1070.591%2c43.996%2c1046.025%2c82.186C1019.478%2c123.456%2c1015.463%2c177.1%2c1040.304%2c219.419C1064.874%2c261.276%2c1113.484%2c280.69%2c1162.011%2c279.779' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M537.2413103177157 220.21348654758384L519.6055097803169 345.69872772139905 645.0907509541321 363.33452825879795 662.7265514915309 237.84928708498273z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1226.954%2c338.453C1288.314%2c341.096%2c1351.773%2c321.265%2c1384.274%2c269.152C1418.481%2c214.304%2c1415.446%2c144.139%2c1383.013%2c88.223C1350.694%2c32.503%2c1291.369%2c-2.313%2c1226.954%2c-2.078C1162.939%2c-1.844%2c1102.565%2c32.652%2c1072.86%2c89.357C1044.972%2c142.594%2c1059.858%2c205.433%2c1091.475%2c256.543C1121.231%2c304.644%2c1170.445%2c336.019%2c1226.954%2c338.453' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Anek Bangla';
    font-size: 16px; 
}
.admin-section{
    background-color:cornflowerblue;
    position: relative;
    padding:50px 0px;
}
#opacityValue{
    display:none;
}
#adminPage,.moneyreceit-section{
    padding:10px 5px;
}
.header-admin h1{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    color:darkblue;
    text-shadow: 1px 2px #ffffff;
}
label{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color:black;
    margin-top: 10px;
}
select{
    width:100%;
    padding:10px 0px;
    margin:10px 0px;
    position: relative;
    font-size: 16px;
    text-align: center;
}
option{
    background-color:cornflowerblue;
    padding:20px 0px;
    font-size: 16px;
    text-align: center;
}
#amountOfmoney , #totalTk,#amountOfmoneyOther{
    padding:10px 0px;
    width:100%;
    margin:10px 0px;
}
option{
    background-color:cornflowerblue;
    font-size: 18x;
    text-align: center;
}
textarea {
    font-size: 16px;
    vertical-align:middle;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
}
input{
    font-size: 16px;
}
.buttonPlusminues{
    display:flex;
    justify-content:center;
}
#buttonPlus,#buttonMinues{
    margin:5px;
    background-color:blue;
    padding:10px 0px;
    border-radius: 100px;
    box-shadow: -3px 3px red;
    font-family: Arial, Helvetica, sans-serif;
    color:#ffffff;
    font-weight: bold;
    display: inline-block;
    width:100%;
    font-size: 16px;
}
#buttonMinues{
    background-color: red;
}
#buttonPlus:hover,#buttonMinues:hover{
    background-color:white;
    color:red; 
}
.sourcebuttonaddLabel{
    font-size: 18px;
}
.makePic{
    width:100%;
    padding:10px 0px;
    margin:30px 0px 0px;;
    background-color:blue;
    font-size:18px;
    font-weight: bolder;
    border-radius: 100px;
    align-items: center;
    color:#DEF;
    box-shadow: 3px 3px red, -0.2em 0 .4em rgb(2, 2, 2);
}
.makePic:hover{
    background-color: #DEF;
    color:red;
}
.sourcebuttonaddLabel{
    margin: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;color: red;
}
.monthlydues
    {
        display:none;
    }
.monthlyvalueBackground{
    background-color:yellow;
    padding:0px 5px 2%;
    display:none;
}
.moneyAnountValue,.moneyAnountValues{
    margin-top:20px;
}
.showPujadisplayYearDiv{
    display: none;
}
.durgaPujacada{
    display:none;
}
.kaliPujacada{
    display:none;
}
.yearsdata{
    display:none;
}
.toyearsdata{
    display:none;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap');

:root {
--primary: #0000ff;
--secondary: #3d3d3d; 
--white: #fff;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Lato', sans-serif;
}

body{
background: var(--secondary);
padding: 50px;
color: var(--secondary);
display: flex;
align-items: center;
justify-content: center;
font-size: 14px;
}

.bold{
font-weight: 900;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} 
@media (min-width: 576px) {
.container {
    width: 540px;
}
}
@media (width: 768px) {
.container {
   width: 720px;
}
}
@media (width: 992px) {
.container {
   width: 960px;
}
}
@media (width: 1200px) {
.container {
   width: 1140px;
}
}
#htmltoimage{
    margin:auto;
}

.light{
font-weight: 100;
}
.wrapper{
background: var(--white);
width: 800px;
padding: 30px;
}

.invoice_wrapper{
border: 3px solid var(--primary);
width: 800px;
max-width: 100%;
}

.invoice_wrapper .header .logo_invoice_wrap,
.invoice_wrapper .header .bill_total_wrap{
display: flex;
justify-content: space-between;
padding: 0px 30px 20px;
}

.invoice_wrapper .header .logo_sec{
display: flex;
align-items: center;
}

.invoice_wrapper .header .logo_sec .title_wrap{
margin-left: 5px;
}

.invoice_wrapper .header .logo_sec .title_wrap .title{
text-transform: uppercase;
font-size: 18px;
color: var(--primary);
}

.invoice_wrapper .header .logo_sec .title_wrap .sub_title{
font-size: 12px;
}

.invoice_wrapper .header .invoice_sec,
.invoice_wrapper .header .bill_total_wrap .total_wrap{
text-align: right;
}

.invoice_wrapper .header .invoice_sec .invoice{
font-size: 28px;
color: var(--primary);
}

.invoice_wrapper .header .invoice_sec .invoice_no,
.invoice_wrapper .header .invoice_sec .date{
/* display: flex; */
width: 100%;
}

.invoice_wrapper .header .invoice_sec .invoice_no span:first-child,
.invoice_wrapper .header .invoice_sec .date span:first-child{
width: 70px;
text-align: left;
}

.invoice_wrapper .header .invoice_sec .invoice_no span:last-child,
.invoice_wrapper .header .invoice_sec .date span:last-child{
width: calc(100% - 70px);
}

.invoice_wrapper .header .bill_total_wrap .total_wrap .price,
.invoice_wrapper .header .bill_total_wrap .bill_sec .name{
color: var(--primary);
font-size: 20px;
}

.invoice_wrapper .body .main_table .table_header{
background: var(--primary);
}

.invoice_wrapper .body .main_table .table_header .row{
color: var(--white);
font-size: 18px;
border-bottom: 0px;	
}

.invoice_wrapper .body .main_table .row{
display: flex;
border-bottom: 1px solid var(--secondary);
}

.invoice_wrapper .body .main_table .row .col{
padding: 10px;
}
.invoice_wrapper .body .main_table .row .col_des{width: 30%;}
.invoice_wrapper .body .main_table .row .col_price{width: 30%; text-align: center;}
.invoice_wrapper .body .main_table .row .col_total{width: 20%;text-align: center;}
.invoice_wrapper .body .main_table .row .col_dues{width: 20%;text-align:center;}

.invoice_wrapper .body .paymethod_grandtotal_wrap{
display: flex;
justify-content: space-between;
padding: 5px 0 30px;
align-items: flex-end;
}

.invoice_wrapper .body .paymethod_grandtotal_wrap .paymethod_sec{
padding-left: 30px;
}

.invoice_wrapper .body .paymethod_grandtotal_wrap .grandtotal_sec{
width: 40%;
}

.invoice_wrapper .body .paymethod_grandtotal_wrap .grandtotal_sec p{
display: flex;
width: 100%;
padding-bottom: 5px;
}

.invoice_wrapper .body .paymethod_grandtotal_wrap .grandtotal_sec p span{
padding: 0 10px;
}

.invoice_wrapper .body .paymethod_grandtotal_wrap .grandtotal_sec p span:first-child{
width: 60%;
}

.invoice_wrapper .body .paymethod_grandtotal_wrap .grandtotal_sec p span:last-child{
width: 40%;
text-align: right;
}

.invoice_wrapper .body .paymethod_grandtotal_wrap .grandtotal_sec p:last-child span{
background: var(--primary);
padding: 10px;
color: #fff;
}
.paidlog{
padding:10px 80px;
display:flex;
justify-content:space-between;
}

.invoice_wrapper .footer{
padding: 30px;
}

.invoice_wrapper .footer > p{
color: var(--primary);
text-decoration: underline;
font-size: 18px;
padding-bottom: 5px;
}

.invoice_wrapper .footer .terms .tc{
font-size: 16px;
}
.main_table{
    width:100%;
}
.totalcalculationtk{
    margin:10px 0px 20px 0px;
}
.sendMoneytotal,.duesMoneytotal{
    border-bottom: 0.6px solid rgb(103, 103, 103);
    padding:10px 30px 10px 10px;
}
.totalTkValue{
font-family: Arial, Helvetica, sans-serif;
color:green;
font-weight: bold;
font-size: 30px;
}
.totaDueslTkValue{
    font-family: Arial, Helvetica, sans-serif;
    color:red;
    font-weight: bold;
    font-size: 30px;
}
.row:nth-child(even){
background-color: #dfdbdb;
}
